<html>
<body>
<h1> {{ansible_hostname}} is managed by Ansible </h1>
<h3> Welcome to the host : {{ansible_fqdn}} </h3>
<h3> Document Root       : {{doc_root}} </h3>
<h3> Brought to you by   : {{user}} </h3>
</body>
</html>
